body {
    background-color: rgba(220, 220, 220, 0.645);
}

.navbar {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 100px;
    background-color: rgb(184, 202, 217);
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 50px;
    font-size: 1vw;
    font-family: Tahoma;
    text-decoration: none;
}

.nav1, .nav2, .nav3, .nav4, .nav5, .nav6 {
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 50px;
    text-decoration: none;
    color: black;
}

.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover, .nav5:hover, .nav6:hover {
    background-color: rgb(208, 231, 250);
    cursor: pointer;
}

.heading {
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    font-size: 2.5vw;
    font-family: 'Segoe UI';
}

.sub-heading {
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.7vw;
    font-family: system-ui;
}

.text {
    text-align: center;
    vertical-align: middle;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    font-size: 1.4vw;
    font-weight: 200;
    font-family: Calibri;

}

.common-stereotypes-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.stereotype-1, .stereotype-2 {
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    background-color: rgb(184, 202, 217);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 50px;
    height: 500px;
    vertical-align: middle;
    border: 5px rgba(0, 0, 0, 0.5) solid;
}

.text-stereotype {
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 200;
}

::selection {
    color: white;
    background: black;
  }
  .bold {
    font-weight: 500;
  }

  hr {
    border: solid 6px gray;
    border-radius: 50px;
    margin-bottom: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .img-1 {
    height: 50%;
    width: 50%;
    border-radius: 50px;
    margin-left: 25%;
    margin-bottom: 5%;
    border: 5px solid black;
  }

.overcome {
    margin-left: 15%;
    margin-right: 15%;
}

.img-2 {
    height: 300px;
    width: 450px;
    margin-left: 35%;
    margin-right: 30%;
    border-radius: 50px;
    margin-bottom: 5%;
}