/*
FONTS
Navbar: Tahoma
Heading: Segoe UI
Text: Trebuchet MS
*/
body {
    background-color: rgba(220, 220, 220, 0.645);
}

.navbar {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 100px;
    background-color: rgb(184, 202, 217);
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 50px;
    font-family: Tahoma;
}

.nav1, .nav2, .nav3, .nav4, .nav5, .nav6 {
    padding-left: 3.5%;
    padding-right: 3.5%;
    border-radius: 50px;
}

.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover, .nav5:hover, .nav6:hover {
    background-color: rgb(208, 231, 250);
}

.heading {
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    font-family: 'Segoe UI';
}

.sub-heading {
    text-align: center;
    vertical-align: middle;
    margin-top: 5%;
    font-family:system-ui;
}

.text {
    text-align: center;
    vertical-align: middle;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    font-family:'Trebuchet MS';
}

.common-stereotypes-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.stereotype-1, .stereotype-2 {
    padding-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    background-color: rgba(191, 244, 226, 0.5);
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 50px;
    height: 300px;
    vertical-align: middle;
}

.text-stereotype {
    margin-left: 3%;
    margin-right: 3%;
}